<?php
    /**
     * SERVER INFORMATION
     * */
    define('HOST','');                  
    define('USERNAME','');                      
    define('PASSWORD','');
    define('SQL_AUTH_DATABASE','');
    define('SQL_CHAR_DATABASE','');
    define('SQL_WORLD_DATABASE','');
    
    /**
     * TRY TO CONNECT TO THE SERVER
     * */
    @mysql_connect(HOST,USERNAME,PASSWORD) or
        die("ERROR: I CANNOT CONNECT TO YOUR SERVER WITH THE FOLLOWING INFORMATION:<br/>
            Host: ".HOST."<BR/>Username: ".USERNAME.
            "<br/>Password: ".PASSWORD."<P/>
            Check your information in the CONFIG.PHP file");
    
?>