/* 
Theme & Template Designed By: Todd Swift
ThemeKings --  www.themekings.net
August 2010  All Rights Reserved
Vision  -  Revised 07/10
*/

/* Link Style */


a.LINKurl:link {
	color: #ffffff;
	text-decoration: none;
    font-size:12px;
}
a.LINKurl:visited {
	color:#d0d0d0;
	text-decoration: none;
    font-size:12px;
}
a.LINKurl:active {
	color:#d0d0d0;
	text-decoration: none;
    font-size:12px;
}
a.LINKurl:hover {
	color: #D56C01;
	text-decoration: none;
    font-size:12px;
}

/* Input Box */
input{
    font-size:10px;
    border:1px solid;
    border-color:#0c0c0c;
    background:transparent;
    color:#00ff00;
}

select{
    font-size:10px;
    border:1px solid;
    border-color:#0c0c0c;
	background-color:#1B1B1B;
    color:#00ff00;
}

.inputbtn{
    font-size:10px;
	font-variant:small-caps;
    border:1px solid;
	width:80px;
	height:25px;
    border-color:#0C0C0C;
    background:transparent;
    color:#00ff00;
    font-weight:bold;
}
fieldset{
    font-size:12px;
    color:#D76801;
    font-variant:small-caps;
	border:1px dotted;
	border-color:#D56C01;
    
}

textarea{
    font-size:10px;
    border:1px solid;
    border-color:#0c0c0c;
    background:transparent;
    color:#00ff00;
    font-family:verdana;
}
h4{
    font-size:12px;
    color:#D56C01;
    font-variant:small-caps;
}
td {
    font-size:10px;
    color:#c0c0c0;
}
th{
	font-size:12px;
	color:#c0c0c0;
}

a{
    /*font-size:12px;*/
    text-decoration:none;
    color:#c0c0c0;
}
a:active{
    color:#c0c0c0;
    /*font-size:12px;*/
}

a:hover{
   /* font-size:12px;*/
   text-decoration:underline overline;
   color:#D56C01;
}

.inputlabel{
    font-size:10px;
    font-family:tahoma;
    color:#FFFF00;
}

.npcNames{
	font-size:12px;
	font-family:tahoma;
	color:#ffff00;
}


/* Clears */

.clearL {
	clear:left;
}
.clearR {
	clear:right;
}
.clearB {
	clear:both;
}


/* Body */

body {
	margin: 0px;
	background-color: #454545;
	overflow: auto;
	padding-top: 0px;
	position: relative;
}

#wrapper {
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 980px;
	position: relative;
	overflow: hidden;
	background-image: url('theme/bdyfiller.jpg');
	background-repeat: repeat-y;
}
#header {
	/* IMAGES NEED TO BE 950X200 AND THEN PUT ON
	  TOP OF THE BANNER.JPG TEMPLATE FOUND IN "THEME FOLDER"
	*/
	background-image: url('images/cat1_header.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 241px;
	position: relative;
	overflow: hidden;
}

#menu {
	position: relative;
	width: 948px;
	height: 44px;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto 0px auto;
	list-style-type: none;
	background-image: url('theme/hnavbgnd.jpg');
	background-repeat: no-repeat;
}
#menu ul{
	margin: 0px; padding: 0px;
	float: left;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	background-image: url('theme/butnOff.jpg');
	background-repeat: no-repeat;
	font-family: Verdana;
	font-size: .7em;
	font-weight: bold;
	color: #666666;
	text-align: center;
	float: left;
	list-style-type: none;
	width: 150px;
	height: 44px;
	padding: 0px;
	margin: 0px 4px 0px 4px;
	line-height: 350%;
	text-decoration: none;
}

#menu ul li a:visited{
	color: #666666;
}

#menu ul li a:hover, .menu ul li .current{
	background-image: url('theme/butnOn.jpg');
	background-repeat: no-repeat;
	color: #D56C01;
	text-decoration: none;
	list-style-type: none;
}



#container {
	padding: 0px;
	margin: 0px;
	width: 980px;
	position: relative;
	overflow: hidden;
}
#col-l {
	padding: 0px;
	width: 624px;
	position: relative;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 20px;
	float: left;
}
#col-r {
	padding: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 20px;
	float: right;
}
#footer {
	background-image: url('theme/footer.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 114px;
	position: relative;
	overflow: hidden;
}
#ft-Info {
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	color: #585858;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}

/* Content */

.CntBox {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	position: relative;
	width: 624px;
	overflow: hidden;
}
.CntHead {
	background-image: url('theme/cnttop.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 624px;
	height: 36px;
	position: relative;
	overflow: hidden;
}
.CntHeadTitle {
	font-family: Verdana;
	font-size: .7em;
	font-weight: bold;
	color: #737373;
	text-decoration: none;
	text-align: right;
	padding: 0px;
	width: 600px;
	position: relative;
	height: 16px;
	overflow: hidden;
	list-style-type: none;
	margin-left: auto;
	margin-top: 12px;
	margin-right: auto;
}
.CntFiller {
	background-image: url('theme/cntmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 624px;
	position: relative;
	overflow: hidden;
}
.CntFooter {
	background-image: url('theme/cntbtm.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 624px;
	height: 23px;
	position: relative;
	overflow: hidden;
}
.CntInfo {
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	color: #585858;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 600px;
	overflow: hidden;
}

/* Right Nav Menus */

.NavBox {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	position: relative;
	width: 308px;
	overflow: hidden;
}
.NavHead {
	background-image: url('theme/navtop.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 308px;
	height: 36px;
	position: relative;
	overflow: hidden;
}
.NavHeadTitle {
	width: 286px;
	height: 16px;
	position: relative;
	overflow: hidden;
	margin-top: 12px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	font-family: Verdana;
	font-size: .7em;
	font-weight: bold;
	color: #737373;
	text-decoration: none;
	text-align: right;
	list-style-type: none;
}
.NavFiller {
	background-image: url('theme/navmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
}
.NavFooter {
	background-image: url('theme/navbtm.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	margin: 0px;
	width: 308px;
	height: 23px;
	position: relative;
	overflow: hidden;
}
.NavInfo {
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	color: #585858;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 286px;
	overflow: hidden;
}
.nav-menu {
	background-image: url('theme/navmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
}
.nav-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav-menu li {
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 298px;
	height: 24px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	text-align: right;
	line-height: 135%;
}
.nav-menu li a {
	color: #585858;
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	text-decoration: none;
	margin-right: 30px;
}
.nav-menu ul li a:visited{
	color: #585858;
}
.nav-menu ul li a:hover, .menu ul li .current{
	color: #D56C01;
	text-decoration: none;
	list-style-type: none;
}
.Level1 {
	background-image: url('theme/level1.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}
.Level2 {
	background-image: url('theme/level2.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}
